[Desktop Entry]
Version=1.0
Type=Application
Name=Void IDE
GenericName=Arduino IDE
Comment=A beautiful Arduino IDE powered by Arduino CLI
# Update Exec path to wherever you installed or run Void IDE from
Exec=/opt/Void\ IDE/void-ide %U
Icon=/opt/Void IDE/resources/assets/icon.png
Terminal=false
StartupNotify=true
StartupWMClass=void-ide
Categories=Development;Electronics;IDE;
Keywords=arduino;embedded;robotics;microcontroller;ino;
MimeType=text/x-arduino;
Actions=NewSketch;

[Desktop Action NewSketch]
Name=New Sketch
Exec=/opt/Void\ IDE/void-ide --new-sketch
